{% extends 'base.html' %} {% load static %} {% load i18n %}  

{% block title %}{% trans "about_meta_title" %}{% endblock %} 
{% block description %}{% trans "about_meta_description" %}{%endblock %} 
{% block keywords %}{% trans "about_keywords" %}{% endblock %} 

{% block page_css %}
  <link rel="stylesheet" href="{% static 'assets/css/about.min.css' %}" />
{% endblock %}

{% block extra_schema %}
<script type="application/ld+json"> {
  "@context": "https://schema.org",
  "@type": "AboutPage",
  "name": "About - Avtoil",
  "description": "{% trans 'about_meta_description' %}",
  "url": "{{ request.build_absolute_uri }}",
  "breadcrumb": {
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "name": "{% trans 'Home page' %}",
        "item": "{% url 'home:home' %}"
      },
      {
        "@type": "ListItem",
        "position": 2,
        "name": "{% trans 'About us' %}",
        "item": "{{ request.build_absolute_uri }}"
      }
    ]
  },
  "mainEntity": {
    "@type": "Organization",
    "name": "Avtoil",
    "url": "https://avtoil.de",
    "logo": {
      "@type": "ImageObject",
      "url": "https://avtoil.de/static/images/avtoil-logo.png"
    },
    "description": "{% trans 'about_meta_description' %}",
    "address": {
      "@type": "PostalAddress",
      "addressCountry": "DE"
    },
    "sameAs": [
       "https://linkedin.com/company/avtoil",
      "https://www.instagram.com/avtoilglobal/",
      "https://www.youtube.com/@AVTOIL",
      "https://www.facebook.com/p/avtoil-100038067895501/"
    ]
  }
}

</script>
{% endblock %} 

{% block content %} 
{% load custom_filters %} 

{% include 'components/navbar.html' %}
{% include 'components/page-header.html' %}

<div class="breadcrumb container">
  <a href="{% url 'home:home' %}" aria-label="Home Page">{% trans "Home page" %}</a>
  |
  <p>{% trans "About us" %}</p>
</div>


<div class="services">
  <div class="section-header">
    <h2>{% trans "About Avtoil" %}</h2>
  </div>
  <div class="container services-sections">
    {%for content in about_avtoil %}
    <div class="section">
      <div class="content">
        <h2>{{ content.title|linebreaksbr }}</h2>
        <p>{{ content.description|linebreaksbr }}</p>
        <!-- <a href="#" class="button-style">{% trans "Discover more" %}</a> -->
      </div>

      <img loading="lazy" 
        
        class="image-container"
        src="{{ content.image.url }}"
        alt="{{ content.title }}"
      />
    </div>
    {% endfor %}
  </div>
</div>

<div class="container">
  <div class="certifications-container">
    <h3>{{ documents_cert.title|linebreaksbr }}</h3>
    <p>{{ documents_cert.description|linebreaksbr }}</p>
  </div>

  <div class="logos-section">
    <div class="wrapper" id="wrapper2">
      <div class="carousel" id="carousel2">
        <div class="content" id="content2">
          {% for car in car_logos %}
          <img loading="lazy"   src="{{ car.logo.url }}" class="item" alt="Car Logo" />
          {% endfor %}
        </div>
      </div>
      <button class="prev" id="prev2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path fill="none" d="M0 0h24v24H0V0z" />
          <path d="M15.61 7.41L14.2 6l-6 6 6 6 1.41-1.41L11.03 12l4.58-4.59z" />
        </svg>
      </button>
      <button class="next" id="next2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path fill="none" d="M0 0h24v24H0V0z" />
          <path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z" />
        </svg>
      </button>
    </div>
  </div>

  <div class="certifications-logos">
    <img loading="lazy" 
      
      src="{% static '/images/certifications-logos.webp' %}"
      alt="Certifications Image"
    />
  </div>
</div>

<div class="image-text-section container">
  {%for content in about_contents %}
  <div class="image-text-content">
    <img loading="lazy"   src="{{ content.image.url }}" alt="{{ content.title }}" />
    <div class="text-container">
      <h3>{{ content.title|linebreaksbr }}</h3>
      <p>{{ content.description|linebreaksbr }}</p>
    </div>
  </div>
  {% endfor %}
</div>

<div class="hybrid-section container">
  <img loading="lazy"   src="{% static '/images/hybrid.webp' %}" alt="About Image" />
  <div class="section-content">
    <h3>{%blocktrans%} Solutions for Hybrid and Electric Vehicles {%endblocktrans%}</h3>
  </div>
</div>

<div class="text-image-section container">
  {% for group in about_last_contents_grouped %}
  <div class="text-image-content">
    {% for content in group %}
      {% if content %}
      <div class="content {% if forloop.parentloop.counter0|divisibleby:2 %}{% if forloop.counter0 == 1 %}blue-bg{% endif %}{% else %}{% if forloop.counter0 == 0 %}blue-bg{% endif %}{% endif %}">
        <div class="text-container">
          <p>{{ content.description|linebreaksbr }}</p>
        </div>
        {% if content.image %}
        <img loading="lazy" src="{{ content.image.url }}" alt="{{ content.title }}">
        {% endif %}
      </div>
      {% endif %}
    {% endfor %}
  </div>
  {% endfor %}
</div>

{% if sustainability %}
<div class="sustainability-container">
  <img loading="lazy"  src="{{ sustainability_image.url }}" class="sustainability-background" alt="{{ sustainability.title }}">
  <div class="container sustainability-content">
    <div class="sustainability-circle-wrapper">
      <div class="sustainability-circle-img">
        <img loading="lazy" 
          class="circle-img"
          src="{% static '/images/sustainability-circle.webp' %}"
          alt="Sustainability Circle"
        />
        <img loading="lazy" 
          class="curved-text-img"
          src="{% static '/images/curve text.webp' %}"
          alt="Core of Innovation Sustainability"
        />
      </div>
    </div>
    <div class="content-wrapper">
      <p>{{ sustainability.description|safe_linebreaksbr }}</p>
    </div>
  </div>
</div>
{% endif %} 

{% include 'components/gallery.html' %} 
{% include 'components/brochure.html' %} 
{% include 'components/review.html' %}

{% endblock %}
