{% load static %}
{% load i18n %}

<!DOCTYPE html>
  <html lang="{{ LANGUAGE_CODE }}">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="csrf-token" content="{{ csrf_token }}">
  <link rel="icon" type="image/svg+xml" href="{% static 'images/avtoil-icon.webp' %}">
  <title>{% block title %}{% trans "Avtoil - High-quality oil products" %}{% endblock %}</title>
  <meta name="description" content="{% block description %}AVTOIL - High-quality oil products{% endblock %}">
  <meta name="keywords" content="{% block keywords %}oil, avtoil, automotive oil, industrial oil{% endblock %}">
  <meta name="robots" content="index, follow">

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="canonical" href="https://avtoil.de{{ request.path }}" />
  <link rel="alternate" hreflang="en" href="https://avtoil.de/">
  <link rel="alternate" hreflang="de" href="https://avtoil.de/de/">
  <link rel="alternate" hreflang="fr" href="https://avtoil.de/fr/">
  <link rel="alternate" hreflang="it" href="https://avtoil.de/it/">
  <link rel="alternate" hreflang="es" href="https://avtoil.de/es/">
  <link rel="alternate" hreflang="zh-hans" href="https://avtoil.de/zh-hans/">

  <meta name="google-site-verification" content="2d4Fu6R1Yk8pt6uvft5eyd4-aW1mgj0T74FCFVqyLZ4" />
  <meta property="og:title" content="Avtoil">
  <meta property="og:description" content="Avtoil - High-quality oil products">
  <meta property="og:image" content="https://avtoil.de/static/images/avtoil-logo.png">
  <meta property="og:url" content="https://avtoil.de{{ request.path }}">
  <meta property="og:type" content="website">
  <meta property="og:description" content="{% trans ' Avtoil - High-quality oil products' %}">

   <!-- Twitter Card tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@Avtoil"> 
  <meta name="twitter:title" content="Avtoil">
  <meta name="twitter:description" content="{% trans 'AMİNOL - High-quality oil products' %}">
  <meta name="twitter:image" content="https://avtoil.de/static/images/avtoil-logo.png">
  <meta name="ahrefs-site-verification" content="9e4cf268be7fc6c2b3be9598e3c023ec7ab0e3f8a6e5ac6884bf3d6fa032897c">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">

  <link rel="preload" as="font" href="{% static 'assets/fonts/fa-solid-900.woff2' %}" type="font/woff2"
    crossorigin="anonymous">
  
  <link rel="stylesheet" href="{% static 'assets/css/common.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}" />

  {% block page_css %}{% endblock %}
  
   <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "Avtoil",
  "image": "https://avtoil.de/static/images/avtoil-logo.png",
  "url": "https://avtoil.de",
  "telephone": "",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "....",
    "addressLocality": "...",
    "addressRegion": "DE",
    "postalCode": "....",
    "addressCountry": "DE"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": .........,
    "longitude": ........
  },
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday"
      ],
      "opens": "09:00",
      "closes": "18:00"
    }
  ],
  "sameAs": [
    "https://linkedin.com.....",
    "https://www.instagram.com....",
    "https://www.youtube.com....",
    "https://www.facebook.com...."
  ],
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "+4915207776502",
    "contactType": "Customer Service",
    "availableLanguage": ["English", "German", "French", "Italian", "Spanish",  "Chinese"]
  }
}
</script>
  {% block extra_schema %}{% endblock %}
</head>

<body>
  {% block content %} {% endblock %}
<a href="https://wa.me/4915207776502" aria-label="Whatsapp" class="fixed-whatsapp" target="_blank">
    <img loading="lazy"   class="whatsapp-icon" src="{% static 'images/whatsapp.svg' %}" alt="Whatsapp icon" />
</a>

  {% include 'components/footer.html' %}

  <script src="{% static 'assets/js/script.min.js' %}" defer></script>
  <script src="{% static 'assets/js/locale.min.js' %}" defer></script>
  <script src="https://analytics.ahrefs.com/analytics.js" data-key="........." async></script>

  <script src="{% static 'assets/js/plugins.min.js' %}" defer></script>
  <script src="{% static 'assets/js/bigz.min.js' %}" defer></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-FBJKZJFWXB"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-FBJKZJFWXB'); </script>

    {% block page_js %}
    {% endblock %}

 
 <script>
  var ahrefs_analytics_script = document.createElement('script');
  ahrefs_analytics_script.async = true;
  ahrefs_analytics_script.src = 'https://analytics.ahrefs.com/analytics.js';
  ahrefs_analytics_script.setAttribute('data-key', 'VCY7krba01QhiJDS2Q8BjQ');
  document.getElementsByTagName('head')[0].appendChild(ahrefs_analytics_script);

  window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '............', { 'send_page_view': false });
</script>

  <script src="{% static 'assets/js/mapconfig.min.js' %}" defer></script>

</body>

</html>