{% load static %}
{% load i18n %}

<!DOCTYPE html>
  <html lang="{{ LANGUAGE_CODE }}">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="csrf-token" content="{{ csrf_token }}">
  <link rel="icon" type="image/svg+xml" href="{% static 'logo/aminol.svg' %}">
  <title>{% block title %}{% trans "Avtoil - High-quality oil products" %}{% endblock %}</title>
  <meta name="description" content="{% block description %}TOMOIL - High-quality oil products{% endblock %}">
  <meta name="keywords" content="{% block keywords %}oil, tomoil, automotive oil, industrial oil{% endblock %}">
  <meta name="robots" content="index, follow">

  <link rel="stylesheet" href="{% static 'assets/css/home.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/about.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/service.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/product.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/contact&others.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/search.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/partnership.css' %}" />



    {% block page_css %}{% endblock %}


  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="canonical" href="https://aminol.az{{ request.path }}" />
  
  <link rel="alternate" hreflang="en" href="https://aminol.az/">
  <link rel="alternate" hreflang="de" href="https://aminol.az/de/">
  <link rel="alternate" hreflang="fr" href="https://aminol.az/fr/">
  <link rel="alternate" hreflang="it" href="https://aminol.az/it/">
  <link rel="alternate" hreflang="es" href="https://aminol.az/es/">
  <link rel="alternate" hreflang="zh-hans" href="https://aminol.az/zh-hans/">


  <meta name="google-site-verification" content="_8tWduXDPsXU6p448Q8qaopDSjUjZDpbeCa1aezh_w0" />
  <meta property="og:title" content="Avtoil">
  <meta property="og:description" content="Avtoil - High-quality oil products">
  <meta property="og:image" content="https://aminol.az/static/logo/aminol-logo.svg">
  <meta property="og:url" content="https://aminol.az{{ request.path }}">
  <meta property="og:type" content="website">
  <meta property="og:description" content="{% trans ' Avtoil - High-quality oil products' %}">

   <!-- Twitter Card tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@AminolOfficial"> 
  <meta name="twitter:title" content="Avtoil">
  <meta name="twitter:description" content="{% trans 'AMİNOL - High-quality oil products' %}">
  <meta name="twitter:image" content="https://aminol.az/static/logo/aminol-logo.svg">
  <meta name="ahrefs-site-verification" content="9e4cf268be7fc6c2b3be9598e3c023ec7ab0e3f8a6e5ac6884bf3d6fa032897c">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/webfonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
  <link href="{% static 'assets/css/style_not_found.css' %}" rel="stylesheet" media="print" onload="this.media='all'"/>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

   <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "Aminol",
  "image": "https://aminol.az/static/logo/aminol-logo.svg",
  "url": "https://aminol.az",
  "telephone": "+994502220607",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Vali Mammadov Street 1/3, Old City",
    "addressLocality": "Baku",
    "addressRegion": "AZ",
    "postalCode": "AZ1000",
    "addressCountry": "AZ"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 40.383904,
    "longitude": 49.850275
  },
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday"
      ],
      "opens": "09:00",
      "closes": "18:00"
    }
  ],
  "sameAs": [
    "https://linkedin.com/company/aminol",
    "https://www.instagram.com/aminol_official?igsh=MTM5bmZnejhxOWhzZw==",
    "https://www.youtube.com/@aminollubricants7877",
    "https://www.facebook.com/p/AMINOL-100038067895501/"
  ],
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "+994502220607",
    "contactType": "Customer Service",
    "availableLanguage": ["English", "Azerbaijani", "German", "French", "Italian", "Spanish", "Portuguese", "Chinese"]
  }
}
</script>
  {% block extra_schema %}{% endblock %}
</head>

<body>
  {% block content %} {% endblock %}
<a href="https://wa.me/4915207776502" aria-label="Whatsapp" class="fixed-whatsapp" target="_blank">
  <i class="fab fa-whatsapp"></i>
</a>
  {% include 'components/footer.html' %}


  <script src="{% static 'assets/js/home.js' %}" defer></script>
  <script src="{% static 'assets/js/review.js' %}" defer></script>
  <script src="{% static 'assets/js/about.js' %}" defer></script>
  <script src="{% static 'assets/js/service.js' %}" defer></script>
  <script src="{% static 'assets/js/faq.js' %}" defer></script>
  <script src="{% static 'assets/js/search.js' %}" defer></script>
  <script src="{% static 'assets/js/product.js' %}" defer></script>
  <script src="{% static 'assets/js/carousel.js' %}"></script>
  <script src="{% static 'assets/js/locale.js' %}" defer></script>
  <script src="https://analytics.ahrefs.com/analytics.js" data-key="VCY7krba01QhiJDS2Q8BjQ" async></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-56M2MVQ89Z" defer></script>
  <script src="{% static 'assets/js/plugins.min.js' %}" defer></script>
  <script src="{% static 'assets/js/bigz.min.js' %}" defer></script>

    {% block page_js %}
    {% endblock %}

  <script>
    window.addEventListener('scroll', function () {
        const headerWhatsapp = document.querySelector('.header-whatsapp');
        const fixedWhatsapp = document.querySelector('.fixed-whatsapp');
        const scrollPosition = window.scrollY;

        if (scrollPosition > 100) {
          fixedWhatsapp.style.opacity = '1';
          fixedWhatsapp.style.visibility = 'visible';

          if (headerWhatsapp) {
            headerWhatsapp.style.opacity = '0';
            headerWhatsapp.style.visibility = 'hidden';
          }
        } else {
          fixedWhatsapp.style.opacity = '0';
          fixedWhatsapp.style.visibility = 'hidden';

          if (headerWhatsapp) {
            headerWhatsapp.style.opacity = '1';
            headerWhatsapp.style.visibility = 'visible';
          }
        }
      });

  </script>
 <script>
  var ahrefs_analytics_script = document.createElement('script');


  ahrefs_analytics_script.async = true;
  ahrefs_analytics_script.src = 'https://analytics.ahrefs.com/analytics.js';
  ahrefs_analytics_script.setAttribute('data-key', 'VCY7krba01QhiJDS2Q8BjQ');
  document.getElementsByTagName('head')[0].appendChild(ahrefs_analytics_script);

  window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-56M2MVQ89Z', { 'send_page_view': false });
</script>

</body>

</html>