{% load static %}
{% load i18n %}

<div class="partners-section">
      <div class="section-header">
        <h3>{% trans "Our Partners" %}</h3>
    </div>

  <div class="container partners-section-content">

    <div class="section-content">
      <p>
        {% trans "Remittance acts as a bridge, connecting loved ones and making the world a little smaller. We are dedicated to forging strategic partnerships which help us help you send money around the globe quickly, safely and affordably." %}
      </p>
    </div>

    <div class=" logos-section">
        <div class="wrapper" id="wrapper">
          <div class="carousel" id="carousel">
            <div class="content" id="content">
              {% for partner in partner_logos %}
              <img loading="lazy" src="{{ partner.logo.url }}" class="item" alt="{% trans 'Partner Logo' %}" />
            {% endfor %}
            </div>
          </div>
          <button class="prev" id="prev" aria-label="Previous">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path fill="none" d="M0 0h24v24H0V0z" />
              <path
                d="M15.61 7.41L14.2 6l-6 6 6 6 1.41-1.41L11.03 12l4.58-4.59z"
              />
            </svg>
          </button>
          <button class="next" id="next" aria-label="Next">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path fill="none" d="M0 0h24v24H0V0z" />
              <path
                d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z"
              />
            </svg>
          </button>
        </div>
      </div>

 

  </div>
</div>

<div class="container brochure">
  <img loading="lazy" src="{% static 'images/avtoil_broshur.webp' %}" alt="Avtoil Broshur" />
</div>
