{% load static %}
{% load i18n %}

{% block page_css %}   
    <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}" />
{% endblock %}

{% block page_js %}
<script src="{% static 'assets/js/swiper-bundle.min.js' %}" defer></script>
{% endblock %}

{% if images.count > 0 %}
<section class="gallery-section">
    <div class="section-header">
        <h3>{% trans "GALLERY" %}</h3>
    </div>
    <div class="swiper labSwiper">
        <div class="swiper-wrapper">
            {% for image in images %}
            <div class="swiper-slide">
                <img loading="lazy"   src="{{ image.image.url }}" alt="Laboratuvar ekipmanı" />
            </div>
            {% endfor %}
            
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>
{% endif %}