.service-main-content {
  margin: 50px auto;
  margin-top: 70px;
}

.service-main-content h2 {
  font-weight: 600;
  font-size: 44px;
  line-height: 50px;
  color: #001c5c;
  max-width: 80%;
  margin-bottom: 50px;
}

.service-main-content img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}
.service-main-content p {
  text-align: left;
}

@media (max-width: 950px) {
  .service-main-content h2 {
    font-size: 38px;
    line-height: 42px;
    margin-bottom: 40px;
  }

  .service-main-content img {
    height: 400px;
  }
}

@media (max-width: 700px) {
  .service-main-content h2 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 30px;
  }

  .service-main-content img {
    height: 350px;
  }
}
@media (max-width: 500px) {
  .service-main-content h2 {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .service-main-content img {
    height: 260px;
  }
}
